<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @kur.date %>
</p>

<p>
  <strong>Gbp:</strong>
  <%= @kur.gbp %>
</p>

<p>
  <strong>Byn:</strong>
  <%= @kur.byn %>
</p>

<p>
  <strong>Usd:</strong>
  <%= @kur.usd %>
</p>

<p>
  <strong>Eur:</strong>
  <%= @kur.eur %>
</p>

<p>
  <strong>Kzt:</strong>
  <%= @kur.kzt %>
</p>

<p>
  <strong>Cny:</strong>
  <%= @kur.cny %>
</p>

<p>
  <strong>Uah:</strong>
  <%= @kur.uah %>
</p>

<p>
  <strong>Chf:</strong>
  <%= @kur.chf %>
</p>

<p>
  <strong>Jpy:</strong>
  <%= @kur.jpy %>
</p>

<%# link_to 'Edit', edit_kur_path(@kur) %> |
<%= link_to 'Back', kurs_path %>
